/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .my_path {
    width: 50%;
    margin-bottom: 50px;
  }


.past{
  margin-right:10%;
  margin-left:10%;
}
  
  footer {
    text-align: center;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .my_path {
    width: 100%;
  }


.past{
  margin-right:5%;
  margin-left:5%;
}

}
