* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.past{
  margin-right:20%;
  margin-left:20%;
}

.back{
  float:right;
  margin:20px
}

img{
  width:100%
}

.clear {
  clear: left;
}



h2 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;
  padding: 1.25rem 2rem;
  padding-top: 1.25rem;
  padding-right: 2rem;
  padding-bottom: 1.25rem;
  padding-left: 2rem;
  margin: 5rem 0 2.5rem;
  margin-top: 5rem;
  margin-right: 0px;
  margin-bottom: 2.5rem;
  margin-left: 0px;
}
